:root {
    --h-bg-color:rgb(0, 132, 253);
    --v-bg-color: rgb(151, 146, 228);
    --text-color: white;
    --text-color-demo: rgb(0, 132, 253);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
}


/* utility */

.debug {
  border: 1px solid black;
}

.d-flex {
  display: flex;

}
.d-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.t-center {
  text-align: center;
}

.container {
  width: 99%;
  margin: 0 auto;
  padding: 0 30px;
}

.padding-l-r {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-t-b {
  padding-top: 70px;
  padding-bottom: 70px;
}

.margin-top {
  margin-top: 20px;
}

.padding-top {
  padding-top: 40px;
}
.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom-big {
  margin-bottom: 40px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-bottom-big {
  padding-bottom: 40px;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-wrap: wrap;
 
}

.column {
  flex-flow: column;
}

.colonna{
  width: 100%;
  padding: 5px;
}

.card-small {
  /* height: 400px;   debug */
}

.benefit .card-small {
  /* width: 310px;   debug */
}

.card-media {
  /* height: 550px;   debug */
  background-color: var(--v-bg-color);
}

.card-big {
  /* height: 600px;   debug */
}

.card-exbig {
  /* height: 800px;   debug */
}

.btn {
  padding: 7px 10px;
  border-radius: 20px;
}

.btn.white {
  background-color: white;
  color: black;
}

.btn.blu {
  background-color: var(--h-bg-color);
  color: white;
  text-decoration: none;
  padding: 7px 40px;
 }

 .btn.viola {
  background-color: rgb(151, 146, 228);
  padding: 10px 30px;
  border-radius: 20px;
}

.btn.white-big {
  background-color: white;
  color: rgb(151, 146, 228);
  padding: 12px 70px;
  font-weight: bold;
 }

img {
  width: 100%;
}

h2 {
  font-size: 2.5rem;
}

/* HEADER */

.menu {
  background-color: var(--h-bg-color);
  color: white;
  
}

header {
  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.menu .container-header {
  color: var(--text-color);
  height: 76px;    /*  debug */
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;

}

.logo {
  align-items: center;
  padding: 0 37px;
  }

.hamburger {
  align-items: center;
  font-size: 2rem;
  padding: 0 37px;
  }

.lista {
  align-items: center;
}

.lista ul {
  list-style: none;
}

.lista ul li {
  padding-left: 30px; 
  font-size: 12px;
}

/* view desktop */
.menu .lista .desktop {
  display: none;
}

.menu a {
  text-decoration: none;
  color: var(--text-color);
}
/* HEADER */


/* DEMO */

.demo {
  margin-top: 76px; 
}

.card-small,
.card-media,
.card-big,
.card-exbig {
  width: 100%;
  line-height: 1.6;
  
}

.demo .card-big,
.demo .card-small {
  background-color: rgb(181, 221, 255);
  color: var(--text-color-demo);
  border-radius: 20px;
  padding: 20px 20px 0 20px;
}

/* .demo .container {
  padding: 0 50px
} */

.demo .card-big h3,
.demo .card-small h3 {
  color: var(--text-color-demo);
}

.demo .card-big img {
  width: 40%;

}

.card-small p {
  color: rgb(90, 110, 127);
}

.card-big p {
  color: rgb(90, 110, 127);
}

.demo .card-small .fa-solid {
  font-size: 70px;
}

/* /DEMO */

/* PLANNING */
.planning {
  background-color: var(--v-bg-color);
}

.planning .card-exbig{
  /* padding: 30px; */
  margin: 0 auto;
}

.planning .card-exbig h2 {
  color: white;
  margin-top: 40px;
}

.planning .card-big h2 {
  font-size: 1.5rem;
}

.planning .card-exbig p {
  font-size: 1rem;
  color: white;
}

.planning .card-big p {
  font-size: 1rem;
  color: black;
}

.planning .card-big {
  background-color: white;
  border-radius: 25px;
  margin: 0 auto;
}

.planning .card-big img {
  margin: 10px;
}

.planning i {
  background-color: var(--v-bg-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  margin: 0 auto 40px;
}


/* /PLANNING */

/* TESTIMONIALS */
.testo-centrato {
  text-align: center;
}

.testimonial h2 {
  color: rgb(151, 146, 228)
}

.testimonial .left img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* .testimonial .row  {
 margin: 0 50px;
} */

.testimonial .row .card-media {
  width: 100%;
  border-radius: 50px;
  color: white;
}

/* .testimonial p {
  padding-left: 40px;
} */



.card-media .left {
  margin: 0 auto;
}

/* /TESTIMONIALS */

/* BENEFITS */
.benefit {
  background-color: var(--v-bg-color);
}

.benefit h2,a {
  color: white;
  text-decoration: none;
}

.benefit .card-small h2,h3 {
  color: rgb(151, 146, 228);
}

.benefit .card-small h2,h3,p {
    text-align: left;
    padding-left: 10px;
}

.benefit .card-small {
  background-color: white;
  border-radius: 25px;
  padding: 30px;
  margin: 10px;
  width: 370px;
}

.benefit .btn.viola {
  margin-top: 60px;
}

/* /BENEFITS */


/* ABOUT */

.about {
  text-align: left;
  margin: 0 30px;
}

.about h2 {
  color: var(--v-bg-color);
}

.about p {
  line-height: 2;
}

.about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
 
}

.about .img-top {
  position:relative;
  display: inline-block;
}

.about .fa-quote-left {
  color: var(--v-bg-color);
  font-size: 70px;
  position: absolute;
  left: 150px;
}

/* /ABOUT */


/* FREE */
.free {
  background-color: var(--v-bg-color);
}

.free .card-small{
  width: 90%;
  margin: 0 auto;
}

.free h3 {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.free h2 {
  color: rgb(253, 193, 95);
  text-align: center;
  font-size: 4.5rem;
}

.free p {
  color: white;
  text-align: center;
  margin: 0 30px;
}

.free .policy {
  text-decoration: underline;
}

/* /FREE */

/* FOOTER */
.footer {
  background-color: rgb(51, 51, 51);
  padding: 0 50px;
}

.footer p {
  color: white;
  text-align: center;
}

.footer .boolean {
  color: rgb(151, 146, 228);
  text-decoration: underline;
}
/* /FOOTER */





/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/


/* DISPLAY TABLET */
@media screen and (min-width: 768px){
  .container {
    width: 720px;
    padding: 0;
  }

  .demo {
    margin-top: 140px;
  }


  .demo .row {
    flex-direction: row;
  }

  .demo .row .colonna:nth-child(1) {
   min-width: calc(100% / 1.5);
  }

  .demo .row .colonna {
    width: calc(100% / 3);
  }

  .demo .colonna .card-big {
    height: 100%;
  }

  .demo .colonna .card-small{
    aspect-ratio: 1/2;
  }

  .demo .row .card-big .dx img {
    margin-top: 50px;
  }

  .demo .colonna:nth-child(2) .card-small {
    height: 100%;
  }

  .planning .card-exbig {
    height: 685px;
  }

  .planning .card-big h2 {
    font-size: 1rem;
  }

  .planning .card-exbig p {
    font-size: 0.7rem;
  }

  .planning .card-big p {
    font-size: 0.7rem;
  }

  .testimonial {
    padding-top: 50px;
  } 
  
  .testimonial .card-media {
    width: 300px;
  } 

  .testimonial .card-media .left {
    width: 20%;
  }

  .testimonial .card-media .right {
    width: 70%;
    font-size: 0.8rem;
  }

  .testimonial .left img {
    width: 150px;
    height: 150px;
  }

  .testimonial .card-media .right h4 {
    text-align: left;
   }
  
  .benefit .row .card-small {
    width: calc(100% / 2.5);
  }

  .benefit .btn .viola {
    margin-top: 15px;
  }

  .about .container {
    display: flex;
  }

  .about .testo-centrato {
    width: 55%;
    margin-right: 20px;
  }

  .about .row {
    width: 40%;
    padding-bottom: 30px;
  }

  .h2-small {
    font-size: 2rem;
   }
 
  .footer p{
    padding: 0 110px 20px;
  }

}

/* DISPLAY PC */

@media screen and (min-width: 1200px){

  .container {
    width: 1200px;
  }
  
  .menu .lista .desktop {
    display: block;
  }

  .menu .lista .hamburger {
    display: none;
  }

  .demo .row .card-big {
    display: flex;
    aspect-ratio: 3/1.45;
  }

  .demo .row .card-big .dx img {
    width: 85.5%;
    margin-top: 34px;
  }
 
  .demo .colonna .card-small {
    aspect-ratio: 1/1;
  }

  .demo .colonna:nth-child(2) .card-small {
    aspect-ratio: 1/.98;
  }

  .planning .row .colonna {
    max-width: calc(100% / 2);
  }

  .planning .row .colonna:first-child {
    margin-right: 50px;
  }


  .planning .row {
    flex-direction: row;
  }

  .planning .row .card-exbig{
    padding-top: 80px;
  }

  .planning .row .card-exbig h2{
    padding-top: 50px;
  }

  .planning .row .card-exbig img{
    width: 100%;
  }

  .planning .row .colonna .card-big{
   margin-top: 150px;
   margin-right: 30px;
  }

  .planning .row .card-big{
    margin-top: 150px;
  }

  .planning i {
    margin-bottom: 20px;
  }

  .testimonial .card-media .left {
    width: 20%;
  }

  .testimonial .card-media .right {
    width: 80%;
    font-size: 1rem;
    padding: 0 80px;
  }

  .testimonial .left img {
    width: 200px;
    height: 200px;
    padding: 10px 10px;
   }

   .testimonial .card-media .right h4 {
    text-align: left;
  }

  .testimonial .card-media .right h4 {
    text-align: left;
 
  }

  .benefit .row .card-small {
    width: calc(100% / 3.3);
  }

  .benefit .row .card-small h2 {
    font-size: 2.2rem;
  }

  .benefit .row .card-small h3 {
    font-size: 1rem;
  }
  
  .benefit .row .card-small p,a {
    font-size: 0.8rem;
  }

  .benefit .btn.viola {
    margin-top: 25px;
  }

  .about .testo-centrato {
    width: 80%;
  }

  .about .row {
    width: 30%;
    line-height: 1;
    padding-bottom: 120px;
  }

  .about h2 {
   font-size: 2rem;
  }
}




