:root {
    --h-bg-color:rgb(0, 132, 253);
    --v-bg-color: rgb(151, 146, 228);
    --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
}


/* utility */

.debug {
  border: 1px solid black;
}

.d-flex {
  display: flex;

}

.d-center {
  justify-content: center;
  align-items: center;
}

.container {
  width: 99%;
  margin: 0 auto;
}

.padding-l-r {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-t-b {
  padding-top: 70px;
  padding-bottom: 70px;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-flow: column;
}

.card-small {
  height: 400px;   /* debug */
}

.benefit .card-small {
  width: 310px;   /* debug */
}

.card-media {
  height: 550px;   /* debug */
  background-color: var(--v-bg-color);
}

.card-big {
  height: 600px;   /* debug */
}

.card-exbig {
  height: 800px;   /* debug */
}


/* HEADER */

.menu {
  background-color: var(--h-bg-color);
}

header {
  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;
}

.menu .container-header {
  color: var(--text-color);
  height: 76px;    /*  debug */
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;

}

.logo,
.hamburger {
  align-items: center;
  font-size: 2rem;
  padding: 0 37px;
  }

.lista {
  align-items: center;
}

.lista ul {
  list-style: none;
}

.lista ul li {
  padding-left: 30px; 
  font-size: 15px;
}

/* view desktop */
.menu .lista .desktop {
  display: none;
}
/* HEADER */


/* DEMO */

.demo {
  margin-top: 76px; 
}

.card-small,
.card-media,
.card-big,
.card-exbig {
  width: 85%;
  margin-bottom: 25px;
}

.demo .card-big,
.demo .card-small {
  background-color: rgb(181, 221, 255);
}


/* /DEMO */

/* PLANNING */
.planning {
  background-color: var(--v-bg-color);
}


/* /PLANNING */

/* TESTIMONIALS */
.testo-centrato {
  text-align: center;
}

/* /TESTIMONIALS */

/* BENEFITS */
.benefit {
  background-color: var(--v-bg-color);
}

/* /BENEFITS */


/* ABOUT */

/* /ABOUT */


/* FREE */
.free {
  background-color: var(--v-bg-color);
}
/* /FREE */

/* FOOTER */
.footer {
  background-color: rgb(51, 51, 51);
}
/* /FOOTER */





/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/


/* DISPLAY TABLET */
@media screen and (min-width: 768px){
  .demo .card-big {
    width: 60%;
    height: 437px;
    margin-right: 10px;
  }

  .demo .card-small {
    width: 30%;
    height: 437px;
    margin-right: 10px;
  }
  .planning .card-exbig {
    height: 885px;
  }

  .planning .card-big {
    height: 830px;
  }

  .testimonial .card-media {
    height: 220px;
  }

  .benefit .card-small {
    height: 417px;
    width: calc (100% / 2);
  }

}

/* DISPLAY PC */

@media screen and (min-width: 1200px){
  .menu .lista .desktop {
    display: block;
  }

  .menu .lista .hamburger {
    display: none;
  }

  .planning .row .card-exbig,
  .planning .row .card-big{
    max-width: calc(100% / 2);
  }

  .planning .row {
    flex-direction: row;
  }
  .planning .row .card-big{
    margin-top: 100px;
  }
  .container {
    max-width: 1200px;
  }
  
}




